body {
    font-family: sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    ;
}

.hero-header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

a {
     color: #E5E7EB;
     text-decoration: none;
     font-size: 18px;
}

.hero-main {
    background-color: #1F2937;
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    color: #3882F6;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.content2, h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.content3 .odin {
    font-weight: bold;
}

.randoms {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.random {
    border: 1px solid blue;
    /* margin: 10px; */
    height: 40px;
    width: 40px;
}

.content4 {
    background-color: #3882F6;
    color: white;

}

.btn-call-to-action {
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    color: white;

}